.scada-header{
    position: relative;
    height: 180px;
    color: white;
    text-align: center; 
    /* padding: 40; */
}
.header-title{
    font-size: 66px;
    color: white;
    line-height: 190px;
    /* position: absolute; */
    /* left:729px; */
    /* top:52px; */
}
.header-logo{
    position: absolute;
    left: 34px;
    top:28px;
}
.header-time{
    position: absolute;
    right: 34px;
    bottom:0px;
    font-size: 36px;
}


.scada_soot{
    background-color: aqua;
}
.scada_soot  .headcell{
    border: none;
    background-color:rgb(16, 126, 203);
    color: white;
    font-weight: bolder;
    font-size: 36px;
}
.row-cell{
    font-size: 30px;
    color: white;
    z-index: 100;
}
/* .ant-table-row:hover{} */
tbody tr:hover{
    background-color: aqua;
    color: black;
}
.ant-table-tbody > tr:hover{
    color: black;
    background-color: aqua;
    opacity: 1;
}
.scada-row:hover .row-cell{
    /* background-color: aqua; */
    color: black;
}
.scada-row-0{
    background: rgba(255, 255, 255, 0.25);
}
.ant-table-row.scada-row td{
    border: none;
}