@import "~antd/dist/antd.css";

.ant-layout-header{
    /* background: #ffffff */
    background: #1890ff
}
.ant-layout-sider{
    background: #fdfbfb
}
.ant-tag{
    margin-bottom: 8px;
}
.backup-button{
    cursor: pointer;
    float:right;
    /* margin-right: 30px; */
    padding: 4px;
    border-radius: 6px;
    color: #8f9593;
    font-weight: bolder;
    /* // font-size: 25px; */
}
.backup-button:hover{
    background-color: #56a1d1;
    color: #f6f7f7;
}

.pageContent{
    margin-top: -16px;
}

/* tableexport 按钮样式  start */
.tableexport-caption{
    padding-top: 0;
    padding-bottom:0;
    color: rgba(0, 0, 0, 0.45);
    text-align: inherit;
    caption-side: inherit;
}
.tableexport-caption > .button-default{
    font-size: 16px;
    color: #fffefe;
    cursor: pointer;
    line-height: 25px;
    background-color: #4c90ff;
    border: none;
    margin: 1px;
    border-radius: 4px;
    width: 40px;
}
.tableexport-caption > .button-default:hover{
    background-color: #0c70b8;
}
/* tableexport 按钮样式  end */



/* .anticon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
} */
